@page "/alquileres"
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject NavigationManager _navigator;
@inject IRepositorioAlquileres _repositorio;
@inject IRepositorioBicicletas _repoBici;
@inject IRepositorioPersonas _repoPersona;
<h3>Alquiler</h3>
<a class="btn btn-success" href="alquileres/nueva">Agregar alquiler</a>
@if (_alquiler == null)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Cargando...</span>
    </div>
}
else if (_alquiler.Count == 0)
{
    <h3>No existen alquiler registrado</h3>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Bicicleta</th>
                <th>Color</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Alquiler alquiler in _alquiler)
            {
                <tr>
                    <td>@alquiler.Id</td>
                    <td>@alquiler.Persona.Correo</td>
                    <td>@alquiler.Bicicleta.Tipo</td>
                    <td>@alquiler.Bicicleta.Color</td>
                    <td>@alquiler.FechaInicio</td>
                    <td>@alquiler.FechaFin</td>

                    <td>
                        <button class="btn btn-sm" title="Modificar" @onclick="()=>Modificar(alquiler.Id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                            </svg>
                        </button>
                        <button class="btn btn-sm" title="Eliminar" @onclick="()=>Eliminar(alquiler)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                            </svg>
                        </button>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>
}


   @*// Input select*@
    




@code {
    private List<Alquiler>? _alquiler;
    private List<Persona>? _Persona = new();
    private List<Bicicleta>? _bicicletas = new();
    private Bicicleta _bici = new();

    protected override async Task OnInitializedAsync()
    {
        _alquiler = await _repositorio.GetAll();
        _Persona = await _repoPersona.GetAll();
        _bicicletas = await _repoBici.GetAll();
    }

    private async void Eliminar(Alquiler alquiler)
    {
        await _repositorio.Delete(alquiler.Id);
        _alquiler!.Remove(alquiler);
        StateHasChanged();
    }

    private void Modificar(int id)
    {
        _navigator.NavigateTo($"/alquileres/editar/{id}");
    }

}
